<style>
.form-width {
  margin-top: 10px;
  width: 300px;
}
.well-bg {
  font-size: 25px;
  margin-bottom: 20px;
  color: #FF0000;
}
.well-nbg {
  margin-top: 10px;
  background-color: none;
}
.p-terms {
  font-size: 12px;
}
.p-align {
  text-align: center;
}
</style>
<div class="container form-width">
  <h1 class="well-bg p-align"><strong>Sign up to Pick Eat</strong></h1>
  <p class="p-align"><strong>Where finding food matters</strong></p>
  <p class="p-align">Already on Pick Eat? <%= link_to "Log in", new_user_session_path %></p>
  <p class="p-terms p-align">By signing up, you agree to Pick Eat’s <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
  	<div class="col-lg-12 well-nbg">
  	  <div class="row">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
          <div class="col-sm-12 ">
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
            </div>
            <div class=form-group"">
              <%= f.submit "Sign up", :class => "btn btn-md btn-danger" %>
            </div>
              <% end %>
              <br><br>
              <%= render "devise/shared/links" %>
              <br><br>
            </div>
          </div>
      </div>
</div>
