<h1 class="h1-main">Where to?</h1>
<div class="carousel container-fluid" data-gap="20" data-bfc>
    <figure>
      <% @restaurants.each do |restaurant| %>
        <div class="container-fluid container-bg" id="square">
          <div class="row">
            <div class="col-sm-5"><h1><%=restaurant.name%></h1></div>
            <div class="col-sm-4"><h5><strong>OPEN HOURS: <%=restaurant.open_hours %></strong></h5></div>
            <div class="col-sm-3"><h5><strong>PHONE: (054) 473 3333</strong></h5></div>
          </div>
          <div class="row">
            <div class="col-sm-12"><h4><%=restaurant.address%></h4></div>
          <div class="row">
          <div class="col-sm-7">
             <img src="<%=restaurant.primary_photo_url%>" height="500" width="600"class="img-responsive" alt="eateryimage">
          </div>
          <div class="col-sm-5">
            <iframe
                width="500px"
                height="600px"
                frameborder="0" style="border:0"
                src="<%=static_map_for(restaurant)%>" class="img-responsive" allowfullscreen>
            </iframe>
            <br>
            <% if lat_lng.present? %>
              <span class="area">DISTANCE: <%=number_to_human(restaurant.distance_from(lat_lng, :km), units: :distance, precision: 4)%></span>
            <% end %>
            <div class="star-size">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span>4.0</span>
              <br><br>
              <h5>Price Range:<h5> <h6><%=restaurant.price_range%></h6>
              <br><br>
              <h6>4 Reviews</h6>
            </div>
          </div>
          </div>
        </div>
      </div>
      <% end %>
    </figure>
    <nav>
        <button class=" nav btn btn-danger next">Spin</button>
    </nav>
</div>

<script>
/*carousel*/
window.addEventListener('load', () => {
    var
        carousels = document.querySelectorAll('.carousel')
    ;

    for (var i = 0; i < carousels.length; i++) {
        carousel(carousels[i]);
    }
});

function carousel(root) {
    var
        figure = root.querySelector('figure'),
        nav = root.querySelector('nav'),
        images = figure.children,
        n = images.length,
        gap = root.dataset.gap || 0,
        bfc = 'bfc' in root.dataset,

        theta =  2 * Math.PI / n,
        currImage = 0
    ;

    setupCarousel(n, parseFloat(getComputedStyle(images[0]).width));
    window.addEventListener('resize', () => {
        setupCarousel(n, parseFloat(getComputedStyle(images[0]).width))
    });

    setupNavigation();

    function setupCarousel(n, s) {
        var
            apothem = s / (2 * Math.tan(Math.PI / n))
        ;

        figure.style.transformOrigin = `50% 50% ${- apothem}px`;

        for (var i = 0; i < n; i++)
            images[i].style.padding = `${gap}px`;
        for (i = 1; i < n; i++) {
            images[i].style.transformOrigin = `50% 50% ${- apothem}px`;
            images[i].style.transform = `rotateY(${i * theta}rad)`;
        }
        if (bfc)
            for (i = 0; i < n; i++)
                 images[i].style.backfaceVisibility = 'hidden';

        rotateCarousel(currImage);
    }

    function setupNavigation() {
        nav.addEventListener('click', onClick, true);

        function onClick(e) {
            e.stopPropagation();

            var t = e.target;
            if (t.tagName.toUpperCase() != 'BUTTON')
                return;

            if (t.classList.contains('next')) {
                currImage++;
            }
            else {
                currImage--;
            }

            rotateCarousel(currImage);
        }

    }

    function rotateCarousel(imageIndex) {
        figure.style.transform = `rotateY(${imageIndex * -theta}rad)`;
    }

}


</script>
