<style>
.imageho {
  opacity: 1;
  display: block;
  width: 75%;
  height: 75%;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middleho {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.containerho:hover .imageho {
  opacity: 0.3;
}
.containerho:hover .middleho {
  opacity: 1;
}
</style>
<h1 class="h1-main">Where to?</h1>
<div class="carousel container-fluid" data-gap="80" data-bfc>
  <figure>
    <% @random_eateries.each do |restaurant| %>
    <div class="container-fluid container-bg" id="square">
      <div class="row">
        <div class="col-sm-5"><h4><%=restaurant.name%>
        <i class="fa fa-check-circle" style="color:#EA4E3C;font-size:20px;"></i></h4></a>
        </div>
        <div class="col-sm-4"><h6><strong>OPEN HOURS: <%=restaurant.open_hours %></strong></h6></div>
        <div class="col-sm-3"><h6><strong>PHONE: <%=restaurant.phone%></strong></h6></div>
      </div>
    <div class="row">
        <div class="col-sm-12"><h5><%=restaurant.address%></h5></div>
        <div class="row">
        <div class="col-sm-7 containerho">
          <img src="<%=restaurant.primary_photo_url%>" class="imageho img-responsive" alt="eateryimage">
            <div class="middleho">
              <a href="<%=restaurant_path(restaurant)%>" class="btn btn-danger">Pick Me</a>
            </div>
        </div>
        <div class="col-sm-5">
          <iframe
            frameborder="0" style="border:0"
            src="<%=static_map_for(restaurant)%>" class="img-responsive" allowfullscreen>
          </iframe>
            <br>
          <% if lat_lng.present? %>
            <span class="area">DISTANCE: <%=number_to_human(restaurant.distance_from(lat_lng, :km),
            units:
            :distance,
            precision: 4)%>
          </span>
          <% end %>
          <%=rating_for restaurant, 'service', disable_after_rate: true%>
            <br>
            <h5>Price Range:<h5> <h6><%=restaurant.price_range%></h6>
            <br><br>
            <h6><%=restaurant.reviews.size%> Reviews</h6>
          </div>
          </div>
        </div>
      </div>
      <% end %>
    </figure>
    <nav>
      <br><br><br><br><br>
      <button class=" nav btn btn-danger next">Spin</button>
    </nav>
</div>
<script>
/*carousel*/
var carousels;
window.addEventListener('load', () => {
        carousels = document.querySelectorAll('.carousel');

    for (var i = 0; i < carousels.length; i++) {
        carousel(carousels[i]);
    }
});

function carousel(root) {
    var
        figure = root.querySelector('figure'),
        nav = root.querySelector('nav'),
        images = figure.children,
        n = images.length,
        gap = root.dataset.gap || 0,
        bfc = 'bfc' in root.dataset,

        theta =  2 * Math.PI / n,
        currImage = 0
    ;

    setupCarousel(n, parseFloat(getComputedStyle(images[0]).width));
    window.addEventListener('resize', () => {
        setupCarousel(n, parseFloat(getComputedStyle(images[0]).width))
    });

    setupNavigation();

    function setupCarousel(n, s) {
        var
            apothem = s / (2 * Math.tan(Math.PI / n))
        ;

        figure.style.transformOrigin = `50% 50% ${- apothem}px`;

        for (var i = 0; i < n; i++)
            images[i].style.padding = `${gap}px`;
        for (i = 1; i < n; i++) {
            images[i].style.transformOrigin = `50% 50% ${- apothem}px`;
            images[i].style.transform = `rotateY(${i * theta}rad)`;
        }
        if (bfc)
            for (i = 0; i < n; i++)
                images[i].style.backfaceVisibility = 'hidden';

        rotateCarousel(currImage);
    }

    function setupNavigation() {
        nav.addEventListener('click', onClick, true);

        function onClick(e) {
            e.stopPropagation();

            var t = e.target;
            if (t.tagName.toUpperCase() != 'BUTTON')
                return;

            if (t.classList.contains('next')) {
                console.log(carousels.length);
                var randomnumber=Math.floor(Math.random()*1000)
                currImage = currImage + randomnumber;
            }
            else {
                currImage--;
            }

            rotateCarousel(currImage);
        }

    }

    function rotateCarousel(imageIndex) {
        figure.style.transform = `rotateY(${imageIndex * -theta}rad)`;
    }

}
</script>
