<%= render 'shared/roulette'%>
<!-- FACTS -->
<div class="facts_wrap animated">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <ul class="clearfix row">
              <li class="counter col-md-12 col-sm-12">
                <div>
                  <figure><img src="<%=asset_url('fact1.png')%>" alt=""></figure>
                  <small>Eateries</small>
                  <span data-fact="<%=@restaurants.size%>"><%=@restaurants.size%></span>
                </div>
              </li>
          </ul>
        </div>
    </div>
  </div>
</div>
<!-- FACTS -->

<!-- ITEMS GRID -->
<div class="container">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-md-4 col-sm-6">
        <div class="item">
          <div class="item-header clearfix">
            <h3><a href="#"><%=restaurant.name%></a></h3>
            <span class="favorite"><i class="fa fa-star"></i>4.5</span>
          </div>
          <figure>
            <img src="<%=restaurant.primary_photo_url%>" alt="" class="img-responsive">
            <div class="overlay">
              <a href="<%=restaurant_path(restaurant)%>" class="btn btn-detail">Detail</a>
            </div>
          </figure>
          <div class="item-detail">
            <div class="left">
              <span class="place"><i class="fa fa-map-marker"></i><%=restaurant.address%></span>
            </div>
              <div class="right">
                  <span class="area">distance</span>
                  <span class="price"><%=restaurant.name%></span>
              </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- ITEMS GRID -->

<hr style="border-top: 2px solid #ff6666;">

<!-- REVIEWS -->
<div class="full-width rewiews">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <img src="<%=asset_url('logo.png')%>" alt="Avatar" class="img-responsive">
        <h6>Roland Ramos</h6>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <img src="<%=asset_url('logo.png')%>" alt="Avatar" class="img-responsive">
        <h6>Denmark Ng</h6>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <img src="<%=asset_url('logo.png')%>" alt="Avatar" class="img-responsive">
        <h6>Kristian Sarate</h6>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>
      </div>
    </div>
  </div>
</div>
<!-- REVIEWS -->

<script type="text/javascript">

  window.addEventListener('load', () => {
      var
          carousels = document.querySelectorAll('.carousel')
      ;

      for (var i = 0; i < carousels.length; i++) {
          carousel(carousels[i]);
      }
  });

  function carousel(root) {
      var
          figure = root.querySelector('figure'),
          nav = root.querySelector('nav'),
          images = figure.children,
          n = images.length,
          gap = root.dataset.gap || 0,
          bfc = 'bfc' in root.dataset,

          theta =  2 * Math.PI / n,
          currImage = 0
      ;

      setupCarousel(n, parseFloat(getComputedStyle(images[0]).width));
      window.addEventListener('resize', () => {
          setupCarousel(n, parseFloat(getComputedStyle(images[0]).width))
      });

      setupNavigation();

      function setupCarousel(n, s) {
          var
              apothem = s / (2 * Math.tan(Math.PI / n))
          ;

          figure.style.transformOrigin = `50% 50% ${- apothem}px`;

          for (var i = 0; i < n; i++)
              images[i].style.padding = `${gap}px`;
          for (i = 1; i < n; i++) {
              images[i].style.transformOrigin = `50% 50% ${- apothem}px`;
              images[i].style.transform = `rotateY(${i * theta}rad)`;
          }
          if (bfc)
              for (i = 0; i < n; i++)
                    images[i].style.backfaceVisibility = 'hidden';

          rotateCarousel(currImage);
      }

      function setupNavigation() {
          nav.addEventListener('click', onClick, true);

          function onClick(e) {
              e.stopPropagation();

              var t = e.target;
              if (t.tagName.toUpperCase() != 'BUTTON')
                  return;

              if (t.classList.contains('next')) {
                  currImage++;
              }
              else {
                  currImage--;
              }

              rotateCarousel(currImage);
          }

      }

      function rotateCarousel(imageIndex) {
          figure.style.transform = `rotateY(${imageIndex * -theta}rad)`;
      }

  }
</script>
