<%= render 'shared/roulette'%>
<!-- FACTS -->
<div class="facts_wrap animated">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="clearfix row">
          <li class="counter col-md-6 col-sm-6">
            <div>
                <figure><img src="<%=asset_url('fact1.png')%>" alt=""></figure>
                <small>Eateries</small>
                <span data-fact="<%=@restaurants.size%>">0</span>
            </div>
          </li>
          <li class="counter col-md-6 col-sm-6">
            <div>
                <figure><img src="<%=asset_url('fact4.png')%>" alt=""></figure>
                <small> Verified Eateries</small>
                <span data-fact="2">0</span>
            </div>
          </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- FACTS -->
<!-- ITEMS GRID -->
<div class="container">
  <h3>Latest Eatery</h3>
  <br>
  <div class="row">
    <% @restaurants.in_groups_of(3).each do |restaurants| %>
      <div class="row">
        <%restaurants.each do |restaurant|%>
          <% if restaurant.present? %>
            <div class="col-md-4 col-sm-6">
              <div class="item">
                <div class="item-header clearfix">
                  <h3 class="font-resto"><%=restaurant.name%> </h3>
                  <% if restaurant.claimed? %>
                  <span><i class="fa fa-check-circle" style="color:#EA4E3C;font-size:10px;"></i></span>
                  <% else %>
                  <span><i class="fa fa-times-circle" style="color:#EA4E3C;font-size:10px;"></i></span>
                  <% end %>
                  <div class="pull-right">
                    <%=rating_for restaurant, 'service' %>
                  </div>
                </div>
                <figure>
                  <img src="<%=restaurant.primary_photo_url%>" alt="" class="img-responsive">
                  <div class="overlay">
                    <a href="<%=restaurant_path(restaurant)%>" class="btn btn-detail">Detail</a>
                  </div>
                </figure>
                <div class="item-detail">
                  <div class="left">
                    <span class="place"><i class="fa fa-map-marker"></i><%=restaurant.address%></span>
                  </div>
                  <div class="right">
                    <% if lat_lng.present? %>
                      <span class="area">DISTANCE: <%=number_to_human(restaurant.distance_from(lat_lng, :km),
                      units:
                      :distance,
                      precision: 4)%>
                    </span>
                    <% end %>
                      <div class="price"><%=restaurant.price_range%></div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<!-- ITEMS GRID -->
<hr style="border-top: 2px solid #ff6666;">
<!-- REVIEWS -->
<div class="full-width rewiews">
  <div class="container">
    <h4>Message</h4>
    <h5>from the administrators</h5>
    <br>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <img src="<%=asset_url('logo.png')%>" alt="Avatar" class="img-responsive">
        <h6>Emman Flores</h6>
        <p align="justify">The idea of Pick Eat: A Web - based Local Eatery Generator and Locator
           for Naga City came to us with desire to help many tourists and Nagueños to
           find an eatery for which they do not know that it even existed. Now, the
           bother for anyone to find a place to fill their insatiable hunger and thirst
           will be cater.</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <img src="<%=asset_url('logo.png')%>" alt="Avatar" class="img-responsive">
        <h6>John Harvey Panganiban</h6>
        <p align="justify">The creation of Pick Eat came from the idea of my stomach. It's hungry,
           so how do I satify it? Hence, the development of the web application, nahh, kidding
           aside, the real reason is to help local eatery to gain more customers via advertising
           their eatery in the said system plus helping the citizens to locate a certain
           eatery. Thank you very much!. You're welcome to join us!</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <img src="<%=asset_url('logo.png')%>" alt="Avatar" class="img-responsive">
        <h6>Kate Icon Marcelo</h6>
        <p align="justify">The Pick Eat system is created from the inspiration of helping you find your
           perfect eatery at a relatively faster pace! This is a mobile - responsive web application
           that will help you decide which eatery you have to visit, try their food, and enjoy!</p>
      </div>
    </div>
  </div>
</div>
<!-- REVIEWS -->
