<%= render 'shared/roulette'%>
<!-- FACTS -->
<div class="facts_wrap animated">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="clearfix row">
          <li class="counter col-md-6 col-sm-6">
            <div>
                <figure><img src="<%=asset_url('fact1.png')%>" alt=""></figure>
                <small>Eateries</small>
                <span data-fact="<%=@numberofrestaurants.size%>">0</span>
            </div>
          </li>
          <li class="counter col-md-6 col-sm-6">
            <div>
                <figure><img src="<%=asset_url('fact4.png')%>" alt=""></figure>
                <small> Verified Eateries</small>
                <span data-fact="<%=@restaurants.size%>">0</span>
            </div>
          </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- FACTS -->
<!-- ITEMS GRID -->
<div class="container">
  <h3>Latest Eatery</h3>
  <br>
  <div class="row">
    <% @restaurants.in_groups_of(3).each do |restaurants| %>
      <div class="row">
        <%restaurants.each do |restaurant|%>
          <% if restaurant.present? %>
            <div class="col-md-4 col-sm-6">
              <div class="item">
                <div class="item-header clearfix">
                  <h3 class="font-resto"><%=restaurant.name%> </h3>
                  <% if restaurant.claimed? %>
                  <span><i class="fa fa-check-circle" style="color:#EA4E3C;font-size:10px;"></i></span>
                  <% else %>
                  <span><i class="fa fa-times-circle" style="color:#EA4E3C;font-size:10px;"></i></span>
                  <% end %>
                  <div class="pull-right">
                    <%=rating_for restaurant, 'service' %>
                  </div>
                </div>
                <figure>
                  <img src="<%=restaurant.primary_photo_url%>" alt="" class="img-responsive">
                  <div class="overlay">
                    <a href="<%=restaurant_path(restaurant)%>" class="btn btn-detail">Detail</a>
                  </div>
                </figure>
                <div class="item-detail">
                  <div class="left">
                    <span class="place"><i class="fa fa-map-marker"></i><%=restaurant.address%></span>
                  </div>
                  <div class="right">
                    <% if lat_lng.present? %>
                      <span class="area">DISTANCE: <%=number_to_human(restaurant.distance_from(lat_lng, :km),
                      units:
                      :distance,
                      precision: 4)%>
                    </span>
                    <% end %>
                      <div class="price"><%=restaurant.price_range%></div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<!-- ITEMS GRID -->
<hr style="border-top: 2px solid #ff6666;">
<!-- REVIEWS -->
<div class="full-width rewiews">
  <div class="container">
    <h3>Message</h3>
    <br>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <img src="<%=asset_url('logo.png')%>" alt="Avatar" class="img-responsive">
        <h6>Emman Flores</h6>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
          ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <img src="<%=asset_url('logo.png')%>" alt="Avatar" class="img-responsive">
        <h6>John Harvey Panganiban</h6>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
          ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <img src="<%=asset_url('logo.png')%>" alt="Avatar" class="img-responsive">
        <h6>Kate Icon Marcelo</h6>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
          ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient...</p>
      </div>
    </div>
  </div>
</div>
<!-- REVIEWS -->
