<body>
  <div class="page-wrap team-page">
    <!-- BREADCRUMBS-->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="breadcrumbs">
            <a href="<%= root_path%>">Home</a>
            <span class="sep">/</span>
            <span class="current">About</span>
          </div>
            <h2 class="page-title">About</h2>
        </div>
      </div>
    </div>
    <!-- BREADCRUMBS -->
  <div class="container">
    <div class="page-contents">
      <div class="row">
        <div class="col-md-11 col-md-offset-1">
          <p>Pick Eat: A Web - based Local Eatery Generator and Locator for Naga City
             is a web application that and focuses
             on advertising local eatery in Naga City and was built using the ruby on rails framework.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <figure>
            <a href="#">
            <img src="<%=asset_url('about.png')%>" alt="Profile Image"
            class="img-responsive">
            <div class="overlay"></div>
            </a>
          </figure>
        </div>
        <div class="col-md-7">
          <p>The system will provide users an easy use mobile responsive web – based application
            that will guide them find eateries within Naga City, including their
            eatery information such as; (1) eatery name (2) eatery address (3) open hours
            (4) contact/ telephone number (5) eatery owner (6) price range.
            The system has three search categories; first is the manual,
            where users will manually type the eatery’s name on the search bar provided.
            Second is the automatic, where users will just click the “Spin” button
            that would randomly pick an eatery for them. Third is the rating, where
            users could choose an eatery according to the other users’ recommendations.
          </p>
          <p>There will be three kinds of users in the system; the admin, owner, and user.
            The admin will manage everything and everyone that is on the system. The owners
            will have their own dashboard where they will manage their own respective eateries,
            and the users will be the users of the system.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- CONTENTS -->
  <div class="page-wrap">
      <!-- TEAMS -->
      <div class="container team-posts">
        <h2 class="page-title">TEAM</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="post clearfix">
              <figure>
                <a href="#"><img src="<%=asset_url('team1.png')%>" alt="Team" class="img-responsive" ></a>
              </figure>
              <article>
                <span>Bachelor of Science in Information Technology</span>
                <h3>John Harvey<br>Panganiban</h3>
              <div class="agent-social">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                  <a href="#"><i class="fa fa-youtube"></i></a>
              </div>
              </article>
            </div>
          </div>
        <div class="col-md-4">
          <div class="post clearfix">
            <figure>
              <a href="#"><img src="<%=asset_url('team2.png')%>" alt="Team" class="img-responsive" ></a>
            </figure>
              <article>
                <span>Bachelor of Science in Information Technology</span>
                <h3>Kate Icon<br>Marcelo</h3>
                <div class="agent-social">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                </div>
              </article>
            </div>
          </div>
          <div class="col-md-4">
            <div class="post clearfix">
              <figure>
                <a href="#"><img src="<%=asset_url('team3.png')%>" alt="Team" class="img-responsive" ></a>
              </figure>
              <article>
                  <span>Bachelor of Science in Information Technology</span>
                  <h3>Emman<br>Flores</h3>
                <div class="agent-social">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-google-plus"></i></a>
                </div>
              </article>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- TEAMS -->
    <div class="container">
      <h2 class="page-title">Contact</h2>
      <div class="row">
        <div class="col-md-12">
          <div class="contact-form">
            <h3>Feedback</h3>
              <%=form_for @contact, url: contacts_path do |f| %>
                <input type="text" placeholder="Name" id="contact_name" name="contact[name]">
                <input type="text" placeholder="eMail" id="contact_email" name="contact[email]">
                <input type="text" placeholder="Phone" id="contact_phone" name="contact[phone]">
                <input type="text" placeholder="Subject" id="contact_subject" name="contact[subject]">
                <textarea placeholder="Message" id="contact_message" name="contact[message]"></textarea>
                <input type="submit" class="btn btn-danger" value="Send Message">
              <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- ADDRESS -->
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 address">
          <i class="fa fa-map-marker"></i>
          <span>Naga City 4400 Camarines Sur Philippines</span>
        </div>
        <div class="col-md-4 col-sm-4 address">
          <i class="fa fa-phone"></i>
          <span>+61 3 8376 6284</span>
        </div>
        <div class="col-md-4 col-sm-4 address">
          <i class="fa fa-envelope"></i>
          <span>pickeatdev@gmail.com</span>
        </div>
      </div>
    </div>
    <!-- ADDRESS -->
</body>
