<style>
.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
}
.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom:7px;
}

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:10px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:15px;
	margin:10px 0;
}
.review-block-date{
	font-size:13px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:25px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:17px;
}
</style>
<div class="container">
	<div class="row">
		<div class="col-sm-9">
			<div class="rating-block">
				<h4>Average user rating</h4>
				<%=rating_for @restaurant, 'service', disable_after_rate: true,
				imdb_avg: true %>
			</div>
		</div>
		<% if @reviews.any? %>
			<div class="row">
				<div class="col-sm-12">
					<hr/>
					<div class="review-block">
						<% @reviews.each do |review| %>
						<div class="row">
							<div class="col-sm-3">
								<img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image"
								class="img-rounded">
								<div class="review-block-name"><a href="#"><%= review.user.first_name%></a></div>
								<div class="review-block-date"><%= review.created_at %></div>
							</div>
							<div class="col-sm-9">
								<div class="review-block-rate">
									<% (0..rating_per_user(review.restaurant, review.user)).each do %>
										<%=image_tag 'star-on.png'%>
									<% end %>
								</div>
								<div class="review-block-title"><%= review.comment_title %></div>
								<div class="review-block-description"><%= review.comment %></div>
							</div>
						</div>
						<hr/>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
    </div> <!-- /container -->
