<div class="container">
  <div class="row col-md-4 col-md-offset-4">
    <h2>Edit your Eatery</h2>

    <%= form_for(@restaurant) do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :street_address %>
        <%= f.text_field :street_address, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :province %>
        <%= f.text_field :province, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :country %>
        <br/>
        <%= f.select :country, options_for_select(ActionView::Helpers::FormOptionsHelper::COUNTRIES), selected: f.object.country %>
      </div>

      <div class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :open_hours %>
        <%= f.text_field :open_hours, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :price_range %>
        <%= f.text_field :price_range, class: 'form-control' %>
      </div>  

      <div class="form-group">
        <%= f.submit "Submit", class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>