<div class="full-width page-wrap properties-page">
  <!-- BREADCRUMBS-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumbs">
          <a href="<%= root_path %>">Home</a>
          <span class="sep">/</span>
          <span class="current">Eatery</span>
        </div>
        <h2 class="page-title">All Eateries</h2>
      </div>
    </div>
  </div>
  <!-- BREADCRUMBS -->

  <div class="container">
    <div class="row">
      <!-- SIDEBAR -->
      <aside class="col-md-4">
        <div class="property-search">
          <%= form_tag restaurants_path, method: 'get' do %>
            <label>Name (e.g. Kinalas)</label>
            <%=text_field_tag :name, params[:name], class: 'form-control' %>
            <label>Address (e.g. Magsaysay)</label>
            <%=text_field_tag :keyword, params[:keyword], class: 'form-control' %>
            <br/>
            <%=select_tag :category, options_for_select(category_options, params[:category]) %>
            <hr>
            <div class="buttons">
              <button class="btn btn-danger"><i class="fa fa-search"></i>Search</button>
              <%=link_to 'Clear', restaurants_path, class: 'btn btn-clear'%>
            </div>

          <% end %>
        </div>
      </aside>
      <!-- SIDEBAR -->

      <div class="col-md-8">
        <div class="row properties-grid">
          <% @restaurants.in_groups_of(2).each do |restaurants| %>
            <div class="row">
              <% restaurants.each do |restaurant| %>
                <% if restaurant.present? %>
                  <div class="col-md-6 col-sm-6">
                    <div class="item">
                      <div class="item-header clearfix">
                        <h3><a href="#"><%=restaurant.name%></a><i class="fa fa-check-circle" style="color:#EA4E3C;font-size:20px;"></i></h2></h3>
                        <button type="button" class="btn btn-danger btn-sm pull-right" style="padding: 5px 5px;font-size: 5px;border-radius: 5px;">
                          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        </button>
                        <h6 class="pull-right">3.0</h6>
                      </div>
                      <figure>
                        <img src="<%=restaurant.primary_photo_url%>" alt="" class="img-responsive">
                        <div class="overlay">
                          <a href="<%=restaurant_path(restaurant)%>" class="btn btn-detail">Detail</a>
                        </div>
                      </figure>
                      <div class="item-detail">
                        <div class="left">
                          <span class="place"><i class="fa fa-map-marker"></i><%=restaurant.address%></span>
                        </div>
                        <div class="right">
                          <% if lat_lng.present? %>
                            <span class="area">DISTANCE: <%=number_to_human(restaurant.distance_from(lat_lng, :km), units: :distance, precision: 4)%></span>
                          <% end %>
                          <br><br>
                          <span class="price">‎<%=restaurant.price_range%></span>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- PAGINATION -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="pagination">
          <%= paginate @restaurants %>
        </div>
      </div>
    </div>
  </div>
  <!-- PAGINATION -->

</div>
