
<div class="page-wrap properties-page property-single">
  <!-- BREADCRUMBS-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumbs">
          <a href="<%= root_path %>">Home</a>
          <span class="sep">/</span>
          <span class="current"><%=@restaurant.name%></span>
        </div>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <h5>5.0</h5>
        <h2 class="page-title"><%=@restaurant.name%></h2>
        <h4><%=@restaurant.category.title%></h4>
      </div>
    </div>
  </div>
  <!-- BREADCRUMBS -->

  <div class="container">
    <div class="row">
      <!-- RESTAURANT SLIDER -->
      <div class="col-md-7 property-slider">
        <figure>
          <img src="<%=@restaurant.primary_photo_url%>" alt="Image" class="img-responsive">
        </figure>
        <div class="thumbnails hidden-xs">
          <% @restaurant.restaurant_photos.not_primary.sample(3).each do |restaurant_photo| %>
            <img src="<%=restaurant_photo.photo.url%>" alt="Thumbnils" class="img-responsive">
          <% end %>
        </div>
      </div>
      <!-- RESTAURANT SLIDER -->

      <!-- RESTAURANT DATA -->
      <div class="col-md-5 property-data">
          <div class="prop-features prop-before">
            <iframe
              width="600"
              height="450"
              frameborder="0" style="border:0"
              src="<%=static_map_for(@restaurant)%>" allowfullscreen>
            </iframe>
            <span class="location"><%=@restaurant.address%></span>
            <% if lat_lng.present? %>
              <span class="area"><%=number_to_human(@restaurant.distance_from(lat_lng, :km), units: :distance, precision: 4)%></span>
            <% end %>
          </div>
          <div class="prop-price">
              <strong class="price">‎<%=@restaurant.price_range%></strong>
              <a href="" class="btn btn-danger">Add Review</a>
          </div>
      </div>
      <!-- RESTAURANT DATA -->
    </div>
  </div>

  <!-- COMMENT -->
  <div class="container">
    <div class="row">
    </div><!-- /row -->
    <div class="row">
      <div class="col-sm-1">
        <div class="thumbnail">
          <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        </div><!-- /thumbnail -->
      </div><!-- /col-sm-1 -->

      <div class="col-sm-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span><br>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <div class="panel-body">
            Panel content
          </div><!-- /panel-body -->
          </div><!-- /panel panel-default -->
          </div><!-- /col-sm-5 -->

          <div class="col-sm-1">
            <div class="thumbnail">
              <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div><!-- /thumbnail -->
          </div><!-- /col-sm-1 -->

      <div class="col-sm-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>myusername</strong> <span class="text-muted">commented 5 days ago</span><br>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <div class="panel-body">
            Panel content
          </div><!-- /panel-body -->
        </div><!-- /panel panel-default -->
      </div><!-- /col-sm-5 -->
    </div><!-- /row -->

  </div><!-- /container -->
  <!-- COMMENT -->
</div>
