
<div class="page-wrap properties-page property-single">
  <!-- BREADCRUMBS-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumbs">
          <a href="<%= root_path %>">Home</a>
          <span class="sep">/</span>
          <span class="current"><%=@restaurant.name%></span>
        </div>
        <h2 class="page-title"><%=@restaurant.name%>
        <% if user_signed_in?%>
          <% if @restaurant.claimed? %>
            <i class="fa fa-check-circle" style="color:#EA4E3C;font-size:20px;"></i></h2>
          <% else %>
            <a href="<%=contacts_path%>" class="btn btn-danger">Claim this Eatery</a>
          <% end %>
        <% end %>
        <h4><%=@restaurant.category.title%></h4>
      </div>
    </div>
  </div>
  <!-- BREADCRUMBS -->

  <div class="container">
    <div class="row">
      <!-- RESTAURANT SLIDER -->
      <div class="col-md-7 property-slider">
        <figure>
          <img src="<%=@restaurant.primary_photo_url%>" alt="Image" class="img-responsive">
        </figure>
        <div class="thumbnails hidden-xs">
          <% @restaurant.restaurant_photos.not_primary.sample(3).each do |restaurant_photo| %>
            <img src="<%=restaurant_photo.photo.url%>" alt="Thumbnils" class="img-responsive">
          <% end %>
        </div>
      </div>
      <!-- RESTAURANT SLIDER -->

      <!-- RESTAURANT DATA -->
      <div class="col-md-5 property-data">
          <div class="prop-features prop-before">
            <iframe
              width="600"
              height="450"
              frameborder="0" style="border:0"
              src="<%=static_map_for(@restaurant)%>" allowfullscreen>
            </iframe>
            <span class="location"><%=@restaurant.address%></span>
            <% if lat_lng.present? %>
              <span class="area">DISTANCE: <%=number_to_human(@restaurant.distance_from(lat_lng, :km), units: :distance, precision: 4)%></span>
            <% end %>
          </div>
          <div class="prop-price">
              <strong class="price">‎<%=@restaurant.price_range%></strong>
              <br><br>
              <div class="pull-left">
                <% if (user_signed_in? && (current_user.id == @restaurant.user_id)) %>
                  <%=  hidden_field :user_id , :value => current_user.id %>
                  <%= link_to "Edit your Eatery?", edit_restaurant_path(@restaurant), class: "btn btn-lg btn-danger" %>
                <% end %>
              </div>
              <br><br><br>
              <% if user_signed_in? %>
              <%= render 'reviews/review' %>
              <% else %>
              <%= link_to "Add Review", new_user_session_path, :class => "btn btn-danger" %>
              <% end %>
          </div>
      </div>
      <!-- RESTAURANT DATA -->
    </div>
  </div>

  <!-- COMMENT -->
  <%= render "reviews" %>
  <!-- COMMENT -->
</div>
