<div class="col-sm-12">
  <div class="panel panel-default text-left">
    <div class="panel-body">
      <%= form_for Review.new do |f| %>
        <label for="rate">Rating:</label>
      <div class="form-group">
          <button type="button" class="btn btn-danger btn-sm pull-left" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-danger btn-sm pull-left" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-danger btn-sm pull-left" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default btn-grey btn-sm pull-left" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default btn-grey btn-sm pull-left" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>
        <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
          <br><br><br>
          <%= f.label :comment_title %>
        <%= f.text_field :comment_title, :class => "form-control" %>
          <br>
          <%= f.label :comment %>
        <%= f.text_area :comment, :class => "form-control" %>
        <br>
        <%= f.submit 'Add Review', :class => "btn btn-sm btn-danger" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
